body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.full-width {
    width: 100%;
}

.sw-90-width {
    width: 90%;
}

a:hover {
    text-decoration: none;
}

.padding-left {
    padding-left: 30px;
}

.display-inline {
    display: inline;
}

.nav-height {
    padding-top: 15px;
    padding-bottom: 15px;
}

.absolute-right {
    position: absolute;
    right: 15px;
    z-index: 2;
}
